In [ ]:
database insert

data application  -- another application -- api

In [ ]:
dict:
    it is collection of items
    items  --> key:value pair
        {}
        it mutable type
        
        key -- immutable type ---> str,number,(tuple,frozenset)  - is not used
        value --> mutable/immutable
        
        
        duplicate is not possible if we define it will consider updated value

In [1]:
temp = {'name':'Akash','Sal':45000,'city':'Pune'}

In [2]:
temp

{'name': 'Akash', 'Sal': 45000, 'city': 'Pune'}

In [ ]:
mutable:
    list
    set
    dict
immutable:
    tuple
    str
    int
    frozenset

In [3]:
p = {1:'a',2:'b'}

In [4]:
p

{1: 'a', 2: 'b'}

In [5]:
emp = {'name':'Jon','id':101,'city':'Pune','address':'Pune','sal':95000}

In [6]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [ ]:
#how to access value from dict

In [7]:
emp['city']

'Pune'

In [8]:
p = [1,2,3]

In [9]:
p[0]

1

In [ ]:
element -- []

method -- ()

In [10]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [ ]:
dict value :
    key

In [13]:
emp['sal']

95000

In [14]:
emp.get('sal')

95000

In [15]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [16]:
emp['dept']

KeyError: 'dept'

In [23]:
emp.get('sdfsdfsdfsdf',"not found")

'not found'

In [26]:
a = {'sal':85000,'name':'Jacky','sal':95000,'sal':175000,'name':'Jon'}

In [27]:
a

{'sal': 175000, 'name': 'Jon'}

In [28]:
a['name']

'Jon'

In [29]:
a['sal']

175000

In [30]:
details = {
    'name':['jon','jacky','keshav'],
    'sal':[75000,45000,96000],
    'city':['US','UK','IND']
}

In [32]:
details

{'name': ['jon', 'jacky', 'keshav'],
 'sal': [75000, 45000, 96000],
 'city': ['US', 'UK', 'IND']}

In [33]:
import pandas as pd

In [34]:
pd.DataFrame(details)

     name    sal city
0     jon  75000   US
1   jacky  45000   UK
2  keshav  96000  IND

In [35]:
details

{'name': ['jon', 'jacky', 'keshav'],
 'sal': [75000, 45000, 96000],
 'city': ['US', 'UK', 'IND']}

In [37]:
details['name'][1]

'jacky'

In [39]:
details['sal'][2]

96000

In [41]:
details['city'][-1]

'IND'

In [47]:
details.get('city')

['US', 'UK', 'IND']

In [48]:
details

{'name': ['jon', 'jacky', 'keshav'],
 'sal': [75000, 45000, 96000],
 'city': ['US', 'UK', 'IND']}

In [49]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [50]:
emp.keys()

dict_keys(['name', 'id', 'city', 'address', 'sal'])

In [51]:
emp.values()

dict_values(['Jon', 101, 'Pune', 'Pune', 95000])

In [52]:
p = []

In [ ]:
p.

In [53]:
d = {1,2}

In [ ]:
notebook --> ML,DA,DE


script --> pycharm,spyder,vscode

In [54]:
import datetime
dt = datetime.datetime.now().date()
d = dt.strftime('%m/%d/%y')
print(d)

08/05/22

In [55]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [56]:
emp.values()

dict_values(['Jon', 101, 'Pune', 'Pune', 95000])

In [57]:
emp.items()

dict_items([('name', 'Jon'), ('id', 101), ('city', 'Pune'), ('address', 'Pune'), ('sal', 95000)])

In [58]:
details.items()

dict_items([('name', ['jon', 'jacky', 'keshav']), ('sal', [75000, 45000, 96000]), ('city', ['US', 'UK', 'IND'])])

In [59]:
emp.items()

dict_items([('name', 'Jon'), ('id', 101), ('city', 'Pune'), ('address', 'Pune'), ('sal', 95000)])

In [60]:
len(emp.items())

5

In [64]:
list(emp.items())

[('name', 'Jon'),
 ('id', 101),
 ('city', 'Pune'),
 ('address', 'Pune'),
 ('sal', 95000)]

In [65]:
details

{'name': ['jon', 'jacky', 'keshav'],
 'sal': [75000, 45000, 96000],
 'city': ['US', 'UK', 'IND']}

In [66]:
len(details.values())

3

In [73]:
d = {'name': ['jon','',''],
 'sal': [75000, 45000, 96000],
 'city': ['US', 'UK', 'IND']}

In [74]:
pd.DataFrame(d)

  name    sal city
0  jon  75000   US
1       45000   UK
2       96000  IND

In [71]:
#how read values from dict

In [16]:
emp = {'name': ['Jon','Jacky'], 'id': {101,102}, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [79]:
emp

{'name': ['Jon', 'Jacky'],
 'id': {101, 102},
 'city': 'Pune',
 'address': 'Pune',
 'sal': 95000}

In [80]:
d = {'address':{'city':"pune",'pincode':411046}}

In [82]:
d['address']['pincode']

411046

In [1]:
emp = {'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [2]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [3]:
emp.items()

dict_items([('name', 'Jon'), ('id', 101), ('city', 'Pune'), ('address', 'Pune'), ('sal', 95000)])

In [4]:
emp.values()

dict_values(['Jon', 101, 'Pune', 'Pune', 95000])

In [5]:
emp.keys()

dict_keys(['name', 'id', 'city', 'address', 'sal'])

In [6]:
emp['name']

'Jon'

In [9]:
emp.get('namesfdsdf','not found')

'not found'

In [10]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [11]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Pune', 'address': 'Pune', 'sal': 95000}

In [12]:
emp['city'] = 'Mumbai'

In [13]:
emp

{'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [14]:
emp['name'] = 'Keshav'

In [15]:
emp

{'name': 'Keshav',
 'id': 101,
 'city': 'Mumbai',
 'address': 'Pune',
 'sal': 95000}

In [17]:
emp

{'name': ['Jon', 'Jacky'],
 'id': {101, 102},
 'city': 'Pune',
 'address': 'Pune',
 'sal': 95000}

In [19]:
emp['name'][0] = 'new jon'

In [20]:
emp

{'name': ['new jon', 'Jacky'],
 'id': {101, 102},
 'city': 'Pune',
 'address': 'Pune',
 'sal': 95000}

In [21]:
prd = {'prdname':'Copper','prdqnty': 100}

In [22]:
prd

{'prdname': 'Copper', 'prdqnty': 100}

In [23]:
#insert operation in dict

In [24]:
prd['prdprice'] = 450

In [25]:
prd

{'prdname': 'Copper', 'prdqnty': 100, 'prdprice': 450}

In [26]:
#mulitple insertion operation

In [27]:
prd.update({'a':100,'b':200,'c':300})

In [28]:
prd

{'prdname': 'Copper',
 'prdqnty': 100,
 'prdprice': 450,
 'a': 100,
 'b': 200,
 'c': 300}

In [29]:
k = ('name','id','sal')

In [33]:
p = dict.fromkeys(k,100)

In [31]:
emp

{'name': ['new jon', 'Jacky'],
 'id': {101, 102},
 'city': 'Pune',
 'address': 'Pune',
 'sal': 95000}

In [34]:
p

{'name': 100, 'id': 100, 'sal': 100}

In [35]:
p['name'] = 'xy'

In [36]:
p

{'name': 'xy', 'id': 100, 'sal': 100}

In [37]:
p['id']= 145

In [38]:
p['sal'] = 49594

In [39]:
p

{'name': 'xy', 'id': 145, 'sal': 49594}

In [40]:
py = ['prdname','prdqnty','prdprice']

In [41]:
dict.fromkeys(py)

{'prdname': None, 'prdqnty': None, 'prdprice': None}

In [42]:
#deletion operation on dict

In [43]:
p

{'name': 'xy', 'id': 145, 'sal': 49594}

In [44]:
p.pop('id')

145

In [45]:
p

{'name': 'xy', 'sal': 49594}

In [46]:
p.pop()

TypeError: pop expected at least 1 argument, got 0

In [ ]:
Note: pop always take one arg --> key

In [48]:
p.pop('sal')

49594

In [49]:
p

{'name': 'xy'}

In [60]:
e = {'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [51]:
e.popitem()

('sal', 95000)

In [52]:
e

{'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune'}

In [53]:
e.popitem()

('address', 'Pune')

In [54]:
e

{'name': 'Jon', 'id': 101, 'city': 'Mumbai'}

In [ ]:
pop -> specified item 
popitem -- > LIFO

In [55]:
e

{'name': 'Jon', 'id': 101, 'city': 'Mumbai'}

In [56]:
e.pop('id')

101

In [57]:
e

{'name': 'Jon', 'city': 'Mumbai'}

In [58]:
e.popitem()

('city', 'Mumbai')

In [59]:
e

{'name': 'Jon'}

In [61]:
e

{'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [ ]:
already key present --> do nothing

if not then insert

In [62]:
e.setdefault('name','justin')

'Jon'

In [63]:
e

{'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [64]:
e.setdefault('cellno',95494949)

95494949

In [65]:
e

{'name': 'Jon',
 'id': 101,
 'city': 'Mumbai',
 'address': 'Pune',
 'sal': 95000,
 'cellno': 95494949}

In [66]:
e.setdefault('city','pune')

'Mumbai'

In [67]:
e

{'name': 'Jon',
 'id': 101,
 'city': 'Mumbai',
 'address': 'Pune',
 'sal': 95000,
 'cellno': 95494949}

In [68]:
e.setdefault('keysdf',1919419)

1919419

In [69]:
e

{'name': 'Jon',
 'id': 101,
 'city': 'Mumbai',
 'address': 'Pune',
 'sal': 95000,
 'cellno': 95494949,
 'keysdf': 1919419}

In [70]:
e.clear()

In [71]:
e

{}

In [72]:
type(e)

dict

In [73]:
e  = {'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [74]:
e

{'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [75]:
e1 = e.copy()

In [76]:
e1

{'name': 'Jon', 'id': 101, 'city': 'Mumbai', 'address': 'Pune', 'sal': 95000}

In [ ]:
copy
setdefault(key,value)
get(key)
pop(key)
popitem()
update ---({dict}) 
fromkeys - key
values()
keys()
items()
clear()

In [79]:
p = {100.5:'temp',200:'test'}

In [80]:
p

{100.5: 'temp', 200: 'test'}

In [81]:
k = ('a','b','c')

In [83]:
t = dict.fromkeys(k)

In [84]:
t['b']=450

In [85]:
t

{'a': None, 'b': 450, 'c': None}

In [86]:
t.popitem()

('c', None)

In [87]:
t

{'a': None, 'b': 450}

In [88]:
t = {'a':100,'a':200,'a':300,'a':400}

In [89]:
t

{'a': 400}

In [91]:
t.pop('a')

400

In [92]:
t

{}